DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST= 
DATABASE_PORT=
DATABASE_NAME=

# jwt secret keys
JWT_SECRET_KEY=

# On server start, this user's role is set to platform_admin (comma-separated not supported)
PLATFORM_ADMIN_EMAIL=

BACKEND_PORT=

# running in local
BASE_URL=

#email configuration
EMAIL_SERVICE_TYPE=
SENDER_EMAIL_ID=
SENDER_EMAIL_PASSWORD=